body { color: black; }
body { background-color: #e3e3e3 }

div.topo {
    background-color:#004000;
    color:white;
    padding:20px;
    width: 97%;
    height: 130px;
}

div.recentes {
    background-color:#004000;
    color:white;
    padding:20px;
    width: 450px;
    height: 120px;
}

div.menu {
    background-color:#004000;
    color:white;
    padding:20px;
    width: 97%;
    height: 20px;
}

img{
	float: right;
}

div.footer{
	padding:20px;
	background-color:#004000;
    color:white;
	position: relative;
    height: 20px;
    clear:both;
}